.bingo {
    display: flex;
    flex-flow: row wrap;
    margin-top: 5px;
    width: 60vw;
    height: 60vh;
    font-size: 0.7rem;
}

@media screen and (max-width: 1000px) {
    .bingo {
        width: 70vw;
    }
}

@media screen and (max-width: 650px) {
    .bingo {
        width: 100vw;
    }
}

@media screen and (max-height: 700px) {
    .bingo {
        height: 70vh;
    }
}

@media screen and (max-height: 500px) {
    .bingo {
        height: 80vh;
    }
}