* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.app {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  background-color: #282c34;
  height: 25px;
  display: flex;
  color: white;
}

.loading, .lets-play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  color: red;
  font-size: 2rem;
  margin-top: 10px;
}

.lets-play {
  font-size: 3rem;
  color: blue;
}

.btn {
  height: 25px;
  border: 1px solid cyan;
  background-color: darkslateblue;
  border-radius: 7px;
  text-align: center;
  margin-top: 5px;
  padding: 0 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: cyan;
  color: black;
}

/* .football-roll {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 99999;
  background-size: 50px;
  animation: ballroll 5s;
}

@keyframes ballroll {
  0% {left:0px; transform: rotate(180deg);}
  10% {left:10%; transform: rotate(180deg);}
  20% {left:20%; transform: rotate(-360deg);}
  30% {left:30%; transform: rotate(0deg);}
  40% {left:40%; transform: rotate(-360deg);}
  50% {left:50%; transform: rotate(360deg);}
  60% {left:60%; transform: rotate(-360deg);}
  70% {left:70%; transform: rotate(360deg);}
  80% {left:80%; transform: rotate(-360deg);}
  90% {left:90%; transform: rotate(360deg);}
  100% {left:100%; transform: rotate(-360deg);}

} */